
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:var {
    --color-body: #102529;
    --color-heading:#eef3db;
    --color-base:#033f47;
    --color-base2:#062a30;
    --color-brand:#e0f780;
    --color-brand2:#deff58;
    --sidbar-width:240px;
    --font-base: "Bai jamjauree";
}

body{
    background-color: #062a30;
    color:  #102529;
    font-family: "Bai jamjauree";
}

h1,h2,h3,h4,h5,h6{
    color: #eef3db;
    font-weight: 700;
}
p{
    color: #eef3db; 
}
a{
    text-decoration: none;
    color: #102529;
    transition: all 0.4s ease;
}
a:hover{
    color: #deff58;
}

img{
    /* width: 100%; */
}
.text-brand{
    color: #deff58;
}
.bg-base{
    background-color:#033f47 ;
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 #deff58;
}
.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #e0f780 ;
    color:#033f47;
}
/* NAVBAR */
.navbar{
    background-color: #033f47;
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.navbar .nav-link:hover{
    color: #e0f780;
}

.navbar .nav-link .active {
    color: #e0f780;;
}

@media (min-width:992px) {
    .navbar{
        min-height: 100vh;
        width: 240px;
        background: linear-gradient(rgba(3,63,71,0.9) , rgba(3,63,71,0.753));
        background-size: cover;
        background-position: center;
    }
 
    .navbar-brand img{
        border: 8pa solid #e0f780;
    }
    #content-wrapper{
        padding-left: 240px;
    }
}
/* BTN  */
.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
   background-color : #deff58;
   color: #fff;
   
}
.btn-brand :hover,
.btn-brand :focus,
{
    color : #deff58;
    background-color: #fff;

}
.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color : #deff58;
    position: absolute;
    left: 0;
    top: 110%;
    transition:all 0.4s;
}
.link-custom :hover:after{
    width: 100%;
}
/* //BTN  */